@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Chat";
}

@section Scripts
{
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/chat")
}

@section Header
{
    <div class="navbar">
        <div class="navbar-inner">
            @using (Html.BeginForm("Logout", "Home", FormMethod.Post))
            {
                <button class="btn btn-info" type="submit">Logout</button>
            }
        </div>
    </div>
}

<div class="row">
    <div class="span8">
        <form class="form-inline">
            <input id="msg" type="text" />
            <input id="broadcast" type="button" class="btn btn-success" value="Send" />
        </form>
    </div>
</div>

<div class="row">
    <div class="span8">
        <ul id="messages"></ul>
    </div>
</div>
